@media(max-width: 1181px) {
  .form-input {
    margin-bottom: 19px;
  }
  .form-input,
  .form-select {
    width: 100%;
  }
}

@media(max-width: 992px) {
  .header__nav {
    display: none;
  }
  .header__btn {
    margin-right: 7px;
    padding: 12px 35px;
  }
  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    border-radius: 3px;
    color: #3172b9;
  }
  .burger__line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 2px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
  }
  .burger__line:nth-child(1) {
    top: 13px
  }
  .burger__line:nth-child(3) {
    bottom: 13px;
  }
  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .hero__content {
    max-width: 75%;
  }

  .services-list {
    flex-wrap: wrap;
  }
  .services-item {
    margin-bottom: var(--gap);
    width: calc((100% - (var(--gap))) / 2);
  }
  .services-item:not(:nth-child(4n)) {
    margin-right: 0px;
  }
  .services-item:not(:nth-child(2n)) {
    margin-right: var(--gap);
  }

  .clients-item {
    padding: 20px;
  }

  .form {
    padding: 0px;
  }

  .footer-container {
    flex-direction: column;
  }
  .footer-left {
    margin-bottom: var(--gap);
  }
}

@media(max-width: 768px) {
  .blog-preview-link {
    flex-direction: column;
  }

  .clients-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .clients-item:not(:nth-child(3n)) {
    margin-right: 0;
  }
  .clients-item {
    margin-bottom: var(--gap);
    width: calc((100% - (var(--gap))) / 2);
  }

  .footer__nav .nav__link {
    font-size: 12px;
  }

  .footer__nav .nav__item:not(:last-child) {
    margin-right: 18px;
  }

  .footer__nav {
    margin-right: 35px;
  }

}

@media(max-width: 576px) {
  .clients,
  .contacts,
  .footer-container {
    display: none;
  }

  .header {
    padding: 15px 0;
  }
  .header__logo {
    width: 80px;
  }
  .header__btn {
    padding: 12px 21px;
  }

  .hero {
    padding: 30px 0 0;
    background-image: none;
  }
  .hero__content {
    max-width: 100%;
  }
  .hero__title {
    margin-bottom: 15px;
  }
  .hero__descr {
    margin-bottom: 17px;
  }
  .hero__wrapper {
    width: 100%;
  }
  .hero-btn {
    width: 100%;
    margin-bottom: 16px;
  }

  .section-offset {
    padding: 60px 0;
  }



}
